<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773310182818-i2bb4tvchi89l8mcnemmqa3at95i5j0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773310182818-i2bb4tvchi89l8mcnemmqa3at95i5j0e</string>
	<key>API_KEY</key>
	<string>AIzaSyAmNHion6ysPzTtu-aaJMvS_t-h-Ge_bWw</string>
	<key>GCM_SENDER_ID</key>
	<string>773310182818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zulfikar.seminar</string>
	<key>PROJECT_ID</key>
	<string>seminar-2dac8</string>
	<key>STORAGE_BUCKET</key>
	<string>seminar-2dac8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773310182818:ios:91bb62b23f97ffc251eefb</string>
</dict>
</plist>